
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Admin</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        Admin
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="/Clients/Index">Clients</a></li>
            <li><a href="/States/Index">States</a></li>
        </ul>


    </div>
</div>

