
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Admin</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        Admin
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="/Accounts/Index">Accounts</a></li>
            <li><a href="/Assignments/Index">Assignments</a></li>
            <li><a href="/Budgets/Index">Budgets</a></li>
            <li><a href="/Clients/Index">Clients</a></li>
            <li><a href="/Contractors/Index">Contractors</a></li>
            <li><a href="/DailyReports/Index">DailyReports</a></li>
            <li><a href="/Invoices/Index">Invoices</a></li>
            <li><a href="/Phases/Index">Phases</a></li>
            <li><a href="/Positions/Index">Positions</a></li>
            <li><a href="/Projects/Index">Projects</a></li>
            <li><a href="/States/Index">States</a></li>
            <li><a href="/SubPhases/Index">SubPhases</a></li>
            <li><a href="/WorkItems/Index">WorkItems</a></li>
        </ul>


    </div>
</div>

