@model PCA.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section sideNavDashboard
{
    sideNavItemSelected
}
@section css 
{
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
}
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="~/Scripts/DataTablesCustomization.js"></script>
    <script src="~/Scripts/PCA.js"></script>
}

<div class="panel panel-default panelShadow col-xs-12 col-md-7">
    <div class="panel-heading col-xs-12">
        <div class="headingElements">
            <div class="col-xs-4"></div>
            <div class="headingText col-xs-4">
                <span>Workflow</span>
            </div>
        </div>
    </div>

    <div class="panel-body col-xs-12">

        <div class="table-responsive col-xs-12">
            <h4><b>Budgets</b></h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Pending</td>
                        <td>Approved</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive col-xs-12">
            <h4><b>Contracts</b></h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Pending</td>
                        <td>Reviewed</td>
                        <td>Approved</td>
                        <td class="WorkflowSelected">Routed</td>
                        <td>Posted</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive col-xs-12">
            <div class="table-responsive ">
                <h4><b>Invoices</b></h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="WorkflowSelected">Pending</td>
                            <td>Approved</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="table-responsive col-xs-12">
            <div class="table-responsive">
                <h4><b>Daily Reports</b></h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Pending</td>
                            <td class="WorkflowSelected">Approved</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default panelShadow col-md-4 col-md-offset-1">
    <div class="panel-heading">
        <h4>Links</h4>
    </div>
    <div class="panel-body">
        <a href="/Admin/Index">Admin</a>
    </div>
</div>

<div class="panel panel-default panelShadow col-md-4 col-md-offset-1">
    <div class="panel-heading">
        <h4>Change Log</h4>
    </div>
    <div class="panel-body">

    </div>
</div>
