@model IEnumerable<PCA.ViewModels.ProjectSelectViewModel>

@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Index</h2>

<row>
    <div class="col-xs-12">
        @foreach (var project in Model)
        {
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default panelShadow col-md-10 col-md-offset-2 col-xs-12">
                    <div class="panel-heading col-xs-12">
                        <div class="headingElements col-xs-12">
                            <span class="col-xs-4">
                            </span>
                            <span class="headingText col-xs-4">@project.ProjectName</span>
                        </div>
                    </div>

                    <div class="panel-body">
                        <a href="/Dashboard/Index/@project.ProjectId">[Project Information Here]</a>
                        <div class="col-xs-12">
                            @foreach (var f in project.Files)
                            {
                                <div class="col-xs-4">
                                    <a href="#" class="thumbnail thumbPictureHolder">
                                        <img src="~/File?id=@f.FileId" alt="" class="thumbPicture img img-responsive full-width"/>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="panel panel-default panelShadow col-xs-12">
            <div class="panel-heading">Admin</div>
            <div class="panel-body"><a href="/Contractors/">Admin Links Here</a></div>
        </div>
    </div>
</row>

