.workflow-item{
    background-color: #064979;
}

.workflow-link:hover{
    cursor: pointer;
}

.workflow-panel{
    height:100%;
}

.workflow-panel-body{
    padding: 0px;
}

.list-group-item{
    text-align: center;
    font-size: 1.15em;
    height: 25px;
    font-family: Arial;
    padding-top: 0.25em;


}

hr{
    margin: 0.5em;
}

.list-group{
    padding: 0px;
    margin: 0px;
}

#workflow-column{
    background-color: #ddd;
    padding: 0px;
    padding-top: 1em;
}

#links{
    margin-top: 1em;
}

#Body {
    margin-top: 0px;
    padding: 0px;
}

.workflow-panel-body > div{
    padding: 0px;
}

#workflow{
    background-color: #999;
}

#dash-header{
    background-color: white;
    height: 150px;
}