.table, .table > tbody > tr > td {
    border:2px solid #333;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

td:hover{
    background-color: #ccc;
}

.table{
    box-shadow: 0px 0px 5px #555;
    min-height: 25px;
}

td, tr, tbody{
    padding: 0px;
    padding-top: 1px;
}

.workflow-item{
    background-color: #064979;
}

.workflow-link:hover{
    cursor: pointer;
}

.workflow-div{
    height: 325px;
}

.workflow-panel{
    height:100%;
}

.workflow-panel-body{
    padding-top: 5%; /* https://css-tricks.com/centering-css-complete-guide/ */
}

.list-group-item{
    text-align: center;
    font-size: 1.15em;
    height: 30px;
    font-family: Arial;
    padding-top: 0.4em;


}

.dashboard-heading{
    text-align: center;
    font-weight: 600;
    color: #001f4d;
}

hr{
    margin: 0.5em;
}

.list-group{
    padding-top: 2em;
}

#links {
    margin-top: 2em;
}