body {
    padding-top: 0px;
    margin-top: 0px;
    background-repeat: repeat;
    background-image: url('Images/grey_wash_wall.png');
}

#navbar {
    background-color: white;
}

#Navigation{
    border: 0px;
    border-bottom-width: 3px;
    border-style: solid;
    border-top-color: #85c9f9;
    border-bottom-color: #1796F3;
    min-height: 30px;
    background-color: #064979;
    box-shadow: 0px 10px 15px #333;
}


#NavigationLinks{
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    
}

.NavigationLinkItem {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 0px !important;
    text-align: center;
    list-style-type: none;
    min-height: 40px;
    max-height: 40px;
    font-size: 1em;
    color: white;
    transition: background-color ease-in 100ms;
}

.NavigationLinkItem:hover{
    background-color: #1796F3;
}

.NavItemSelected {
    background-color: #1796F3;
}

#CurrentUserText {
    padding-top: 8px;
    padding-bottom: 8px;
    max-height: 35px;
    color: white;
    text-align: center;
}

#CurrentUser {
    max-height: 35px;
}

#Footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    border: 0px;
    background-color: #333333;
    border-top-width: 4px;
    border-style: solid;
    border-color: #222;
}

#Footer:hover{
   background-color: #222;
}

#CurrentProjectText{
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

#Body{
    margin-top: 3%;
}

.sideNavItemSelected{
    background-color: #1796F3;
}

.panel {
    padding:0px;
    box-shadow: 5px 5px 15px #333;

}

 #TableWrapper{
     padding: 0px;
 }

 #table_id{
     padding: 0px;
 }

 #table_id_wrapper{
     overflow: auto;
 }

 .panel-heading{
     text-align: center;
 }

 #LinkButtonGroup {
     visibility: hidden;
     max-height: 0px;
     transition: max-height ease-in 500ms;
 }
 
#LinkButtonSelected > .sorting_1 {
    background-color: #333!important;
}

#LinkButtonSelected > td {
     background-color: #444!important;
     color: white;
     transition: background-color ease-in-out 200ms;
     transition: color ease-in-out 150ms;
 }



.DetailItem{
    text-align: center;
}

#BodyContainer{
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}