body {
    padding-top: 0px;
    margin-top: 0px;
    background-repeat: repeat;
    background-image: url('Images/concrete_seamless.png');*
    background: #ddd;
    margin-left: 0px;
}

.button-primary{
    background-color: #edfbc1 !important;
}

.badge{
    background-color: #1c2541;
}

.workflowTable, .workflowTable > tbody > tr > td {
    border-width: 3px;
    border-color: #777;
}

.vertSpace{
    padding-top: 15px;
}

.dashboardSection{
    border-width: 5px;
    border-style: solid;
}

.workflowTable > tbody > tr > td {
    text-align: center;
    
}

.thumbPictureHolder{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background-color: #333;
}

.full-width{
    width: 100%;
}

.thumbPicture{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

.headingElements{
    padding: 0px;

}

#navbar {
    background-color: white;
    /*box-shadow: inset 0px -3px 5px #666;
    padding-bottom: 8px;*/
}

.panel-heading > .headingText{
    border-width: 5px;
    border-color: #333;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.heading-1{
    font-size: 1.5em;
    padding: 0px;

}

#Navigation{
    border: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-top-color: #85c9f9;
    border-bottom-color: #ddd;
    min-height: 30px;
    background-color: #064979;
    box-shadow: inset 0px -8px 0px #05304E;

    /*box-shadow: 0px 10px 15px #333;*/
}


#NavigationLinks{
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    
}

.NavigationLinkItem {
    padding-left: 0.25%;
    padding-right: 0.25%;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-left: 0px !important;
    text-align: center;
    list-style-type: none;
    min-height: 40px;
    max-height: 40px;
    font-size: 0.9em;
    color: white;
    transition: background-color ease-in 100ms;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border-right-color: rgba(5, 48, 78, 1);
    border-right-width: 2px;
    border-right-style: solid;
}

.NavigationLinkItem:hover{
    background-color: #0967aa;
}

#CurrentUserText {
    padding-top: 8px;
    padding-bottom: 8px;
    max-height: 35px;
    color: white;
    text-align: center;
}

#CurrentUser {
    max-height: 35px;
}

/*#Footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    border: 0px;
    background-color: #1D262B;
    border-top-width: 4px;
    border-style: solid;
    border-color: #111;
    box-shadow: inset 0px 3px 10px #171D21;
}

#Footer:hover{
   background-color: #171D21;
}
    */

#CurrentProjectText{
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

#Body{
    margin-top: 3%;
}

.sideNavItemSelected{
    color:#222;
    font-weight: 600;
    background-image: url('Images/concrete_seamless.png');
    border-right-width: 0px;
    
}

.list-group-item:hover{
    background-color: #eee;
}

.panel{
    padding:0px;
    margin-bottom: 5%;
}

.panelShadow > .panel-heading{
    background-image: none;
    background-color: #064979;
    color: white;
    box-shadow: inset 0px -5px 0px #05304E;
}

.panelShadow {
    padding:0px;
    box-shadow: 5px 5px 10px #666;

}

 #TableWrapper{
     padding: 0px;
 }

 #table_id{
     padding: 0px;
 }

 #table_id_wrapper{
     overflow: auto;
 }

 .panel-heading > .headingElements > .headingText  {
     text-align: center;
     font-size: 1.3em;
     font-family: 'Open Sans', sans-serif;
     padding: 5px;
 }

  .panel-heading > .headingElements > .headingRight  {
     text-align: right;
 }

 #LinkButtonGroup {
     visibility: hidden;
     max-height: 0px;
     transition: max-height ease-in 500ms;
     padding-top: 10px;
 }
 
#LinkButtonSelected > .sorting_1 {
    background-color: #0b132b!important;
}

#LinkButtonSelected > td {
     background-color: #1c2541!important;
     color: white;
     transition: background-color ease-in-out 200ms;
     transition: color ease-in-out 150ms;
 }

#selectedPhase > .sorting_1 {
    background-color: #0b132b!important;
}

#selectedPhase > td {
    background-color: #1c2541!important;
     color: white;
     transition: background-color ease-in-out 200ms;
     transition: color ease-in-out 150ms;
}



.DetailItem{
    text-align: center;
}

#BodyContainer{
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}