body {
    background-image: url('Images/loginbkrd.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#login {
    margin-top: 10%;
}

.panel-heading{
    text-align: center;
}

.panel > .panel-heading{
    font-size: 1em;
}
