@model PCA.Models.Invoice
@{
    ViewBag.Title = "ViewAttachment";
    Layout = null;
}

@if (Model.Files.Any(f => f.FileType == FileType.InvoiceImage))
{
            <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.InvoiceImage).FileId" alt="invoice" />
}
else
{
    <p>No Attachment avaliable.</p>
}