@model PCA.ViewModels.BudgetIndexViewModel

@{
    ViewBag.Title = "Details";
}
@section sideNavBudgets
{
    sideNavItemSelected
}
@section scripts
{
    <script src="~/Scripts/DataTablesCustomization.js"></script>
    <script src="~/Scripts/PCA.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
    <script src="~/Scripts/Budget.js"></script>
}

<div class="panel panel-default panelShadow col-xs-12">
    <div class="panel-heading col-xs-12">
        <div class="headingElements col-xs-12">
            <div class="col-xs-4">
                <a href="/Dashboard/Index/" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-menu-left"></span> Back
                </a>
            </div>
            <span class="headingText col-xs-4">Budget Summary</span>
        </div>
    </div>


    <div class="panel-body">
        <br /><br /><br />
        Total Budgeted:
        <br />
    </div>
</div>

<div class="panel panel-default panelShadow col-xs-4">
    <div class="panel-heading col-xs-12">
        <div class="headingElements col-xs-12">
            <div class="col-xs-4">
            </div>
            <span class="headingText col-xs-4">Budget Summary</span>
        </div>
    </div>


    <div class="panel-body">
        <br /><br /><br />

        <!-- Daily Report DataTables -->
        <div id="TableWrapper" class="col-xs-12">
            <table id="Sort1" class="display col-xs-12 Sort1 table table-striped">
                <thead>
                    <tr>
                        <th>Phase #</th>
                        <th>Name</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Daily Reports -->
                        <tr class="LinkButton dailyReportRow">
                            <td>5</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                </tbody>
            </table>
        </div>

        <br />
    </div>
</div>

<div class="col-xs-1"></div>

<div class="panel panel-default panelShadow col-xs-7">
    <div class="panel-heading col-xs-12">
        <div class="headingElements col-xs-12">
            <div class="col-xs-4">
            </div>
            <span class="headingText col-xs-4">Budget Summary</span>
        </div>
    </div>


    <div class="panel-body">
        <br /><br /><br />
        Total Budgeted:
        <br />
    </div>
</div>

