@{
    ViewBag.Title = "GeneralConditions";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
@section css {
    <link rel="stylesheet" href="~/Content/GC.css" />
}
<div class="contractBody">
<!-- Header Image -->
<div class="row">
    <img src="/Content/Images/Plann_LetterHead.png" class="col-xs-12" alt="">
</div>

<!-- Contract Type -->
<div class="row">
    <h4 class="col-sm-4 col-sm-offset-4">Prime Contract Between Owner and Contractor</h4>
</div>
<hr />

<!-- Contract Date -->
<div class="row">
    <p>OWNER and CONTRACTOR enter into this Prime Contract as of [DATE]</p>
</div>

<!-- Contract Stakeholders -->
<div class="row">
    <div class="col-xs-6">
        <h5><b>OWNER:</b></h5>
        <p>
            [OWNER NAME]<br />
            [OWNER ADDRESS]<br />
            [OWNER STATE ZIP]<br />
        </p>
    </div>
    <div class="col-xs-6">
        <h5><b>CONTRACTOR:</b></h5>
        <p>
            [CONTRACTOR NAME]<br />
            [CONTRACTOR ADDRESS]<br />
            [CONTRACTOR STATE ZIP]<br />
            [CONTRACTOR CONTACT]<br />
            [CONTRACTOR PHONE]
        </p>
    </div>

    <div class="col-xs-6">
        <h5><b>PROGRAM MANAGER:</b></h5>
        <p>
            [NAME]<br />
            [ADDRESS]<br />
            [STATE ZIP]<br />
        </p>
    </div>
    <div class="col-xs-6">
        <h5><b>ARCHITECT:</b></h5>
        <p>
            [NAME]<br />
            [ADDRESS]<br />
            [STATE ZIP]<br />
            [CONTACT]<br />
            [PHONE]
        </p>
    </div>

    <div class="col-xs-6">
        <h5><b>PROJECT:</b></h5>
        <p>
            [NAME]<br />
        </p>
    </div>
    <div class="col-xs-6">
        <h5><b>SITE:</b></h5>
        <p>
            [ADDRESS]<br />
        </p>
    </div>
</div>
<br />

<!-- Contract Elements -->
<div class="row">
    <p>
        <b>I. SCOPE OF WORK.</b>
        Contractor shall perform all work described in the Contract Documents.
    </p>
</div>

<div class="row">
    <p>
        <b>II. COST ALLOCATION.</b>
        Contractor shall perform all work described in the Contract Documents.
    </p>
</div>

<div class="row">
    <p>
        <b>III. DATE OF COMMENCEMENT AND SUBSTANTIAL COMPLETION.</b>
        The Work shall be commenced by Contractor on the date specified in the Notice to Proceed to be issued by Owner. Contractor shall have [CONTRACT DAYS] working days after the commencement date to achieve Substantial Completion.
    </p>
</div>

<div class="row">
    <p>
        <b>IV. CONTRACT PRICE.</b>
        Owner shall pay Contractor for completion of the Work in accordance with the Contract Documents, the lump sum of [LITERAL AMOUNT] subject to additions and deductions
        as provided in the Contract Documents.
    </p>
</div>

<div class="row">
    <p>
        <b>V. PAYMENT PROCEDURES.</b>
        <ol type="I">
            <li>
                <u>Progress Payments.</u>
                <ol type="i">
                    <li>
                        Based upon properly submitted Applications and Certificate for Payment (AIA Document G702) submitted by the Contractor to Program Manager,
                        Owner shall make progress payments at monthly intervals on account of the Contract price.
                    </li>
                    <li>
                        Unless otherwise specified in the Contract Documents, the period covered by each Application for payment shall be one calendar month ending on the last
                        day of the month. Applications for Payment shall be due on or before the [PAYMENT DUE DATE] of the each month.
                    </li>
                    <li>
                        Owner will approve or disapprove a properly submitted Application for Payment within Fourteen (14) days after receipt. Owner will make payment on an approved
                        Application for Payment not later than Twenty-one (21) days after such approval.
                    </li>
                    <li>
                        Owner shall retain [RETAINGE PERCENT] of the aggregate amount due Contractor on approved Application and Certificate for Payment until Final Completion has
                        been achieved, at which time no additional amounts shall be retained, except for amounts which Owner is entitled to retain under the Contract Documents.
                    </li>
                </ol>
            </li>
            <li>
                <u>Final Payment.</u>
                <ol type="i">
                    <li>
                        Final payment, constituting the entire unpaid balance of the Contract Price, shall be made by Owner to the Contractor when all obligations
                        of the Contractor under the Contract Documents have been fully performed by the Contractor, including without limitation all items on the Punch List described in the General Conditions. Such Final Payment shall be made by Owner
                        not more than Thirty (30) days after all of the foregoing conditions have been fully satisfied.
                    </li>
                </ol>
            </li>
        </ol>
    </p>
</div>

<div class="row">
    <p>
        <b>VI. MISCELLANEOUS PROVISIONS.</b>
        <ol type="I">
            <li>
                <u>Entire Agreement.</u>
                The Contract Documents form the entire and integrated agreement between the Owner and Contractor and supersede prior negotiations,
                representations or agreements, either written or oral. The Contract Documents may be amended or modified only by a Change Order, Modification of Contract, Construction Change Directive or minor change in Work (collectively, a
                "Modification") or, in the case of this Prime Contract, in a written agreement signed by Owner and Contractor. Any provisions in documents submitted by Contractor which purport to limit or excuse Contractor's obligation under the
                Contract Documents shall be of no force or effect unless Owner has accepted such limitation or excuse in writing.
            </li>
            <li>
                <u>Construction of Contract Documents.</u>
                If there is any inconsistency between the terms of this Prime Contract and the General Conditions, the terms of this
                Prime Contract shall govern. If there is any inconsistency between the terms of the General Conditions and any other of the Contract Documents, including the Specifications and Special Conditions, the General Conditions shall govern.
            </li>
            <li>
                <u>Capitalized Terms.</u>
                [TERMS HERE]
            </li>
            <li>
                <u>Notices.</u>
                Written notice shall be deemed to have been duly served when delivered in person, by telecopy, by express delivery or by registered or certified
                mail to the addresses shown above, or to such other address a party may hereafter designate by written notice.
            </li>
        </ol>
    </p>
</div>

<div class="row">
    <p>
        <b>VII. INSURANCE AND BONDS.</b>
        <ol type="I">
            <li>
                <u>Named Insureds.</u>
                All insurance policies required to be provided by Contractor under the Contract Documents shall name Owner, Program Manager and Architect
                as additional insureds.
            </li>
            <li>
                <u>Required Bonds.</u>
                Contractor, as part of the Work and the Contract Price, shall provide payment and performance bonds as follows: N/A
            </li>
        </ol>
    </p>
</div>

<div class="row">
    <p>
        <b>VIII. ENUMERATION OF CONTRACT DOCUMENTS.</b>
        The Contract Documents are made a part of this Prime Contract and incorporated herein by this reference. The Contract Documents, except for Modifications issued after
        execution of this Prime Contract, are this Prime Contract, the General Conditions, and the following documents: <br />
        [DOCUMENTS]
    </p>
</div>
<br />
<hr />

<div class="row">
    <p  class="exhibitText">
        <b>EXHIBIT "A"</b>
    </p>
    <p>Inclusive of but not limited to:</p>
    <p>[Exhibits go here]</p>
</div>
<br />

<div class="row">
    <div class="signatureSection col-xs-6">
        <h5><b>OWNER</b></h5><br />
        <p>
            Date: _______________________[DATE]<br /><br />
            By: _______________________[SIGNATURE]<br /><br />
            Title: _______________________[TITLE]<br /><br />
        </p>
    </div>
    <div class="signatureSection col-xs-6">
        <h5><b>CONTRACTOR</b></h5><br />
        <p>
            Date: _______________________[DATE]<br /><br />
            By: _______________________[SIGNATURE]<br /><br />
            Title: _______________________[TITLE]<br /><br />
        </p>
    </div>

</div>


</div>

