@{
    ViewBag.Title = "GeneralConditions";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
@section css {
    <link rel="stylesheet" href="~/Content/GC.css" />
}
<div class="contractBody">
    <!-- Header Image -->
    <div class="row">
        <img src="/Content/Images/Plann_LetterHead.png" class="col-xs-12" alt="">
    </div>

    <!-- Contract Type -->
    <div class="row">
        <h4 class="col-sm-4 col-sm-offset-4">Materials Purchase Order</h4>
    </div>
    <hr />

    <!-- Contract Date -->
    <div class="row">
        <p>OWNER and CONTRACTOR enter into this Prime Contract as of [DATE]</p>
    </div>

    <!-- Contract Stakeholders -->
    <div class="row">
        <div class="col-xs-6">
            <h5><b>OWNER:</b></h5>
            <p>
                [OWNER NAME]<br />
                [OWNER ADDRESS]<br />
                [OWNER STATE ZIP]<br />
            </p>
        </div>
        <div class="col-xs-6">
            <h5><b>CONTRACTOR:</b></h5>
            <p>
                [CONTRACTOR NAME]<br />
                [CONTRACTOR ADDRESS]<br />
                [CONTRACTOR STATE ZIP]<br />
                [CONTRACTOR CONTACT]<br />
                [CONTRACTOR PHONE]
            </p>
        </div>

        <div class="col-xs-6">
            <h5><b>PROGRAM MANAGER:</b></h5>
            <p>
                [NAME]<br />
                [ADDRESS]<br />
                [STATE ZIP]<br />
            </p>
        </div>
        <div class="col-xs-6">
            <h5><b>ARCHITECT:</b></h5>
            <p>
                [NAME]<br />
                [ADDRESS]<br />
                [STATE ZIP]<br />
                [CONTACT]<br />
                [PHONE]
            </p>
        </div>

        <div class="col-xs-6">
            <h5><b>PROJECT:</b></h5>
            <p>
                [NAME]<br />
            </p>
        </div>
        <div class="col-xs-6">
            <h5><b>SITE:</b></h5>
            <p>
                [ADDRESS]<br />
            </p>
        </div>
    </div>
    <br />
    <hr />

    <div class="row">
        <h4 class="col-sm-8 col-sm-offset-2">Terms and Conditions for Materials Purchase Order</h4>
    </div>

    <!-- Contract Elements -->
    <div class="row">
        <p>
            <b>I. ACCEPTANCE: WRITTEN MODIFICATION ONLY.</b>
            Seller's written acknowledgment
            of, or the commencement of work or shipment against this Purchase Order, shall constitute Seller's
            acceptance of each and every term and condition of this Purchase Order. Upon its acceptance by Seller,
            it shall constitute the entire agreement between Seller and Buyer. THIS PURCHASE ORDER MAY NOT BE ADDED
            TO, CHANGED, OR SUPPLEMENTED IN ANY WAY OTHER THAN BY A WRITING SPECIFICALLY SETTING FORTH SUCH ADDITIONS,
            CHANGES, OR SUPPLEMENTS WHICH IS SIGNED BY BUYER'S DULY AUTHORIZED REPRESENTATIVE.
        </p>
    </div>

    <div class="row">
        <p>
            <b>II. WARRANTIES.</b>
            In addition
            to all other representations, agreements, or warranties which Seller makes herein or by law, Seller warrants to Buyer that: (a)the goods and/or services
            subject hereto shall fully meet and comply with the plans and specifications, and all addenda thereto, applicable to the project for which they are being ordered. (b)Seller
            specifically waives any defense that the Uniform Commercial Code may not apply to the sale of services subject hereto. (c)Seller agrees that during the period
            commencing with the date of delivery, or installation, whichever is later, and ending in accordance with the terms of the contract referred to on the face hereof, or
            for a period of one(1) year, it will repair or replace any defective or broken goods (or parts of goods) sold under this Purchase Order, provided, if the duration of
            Seller's warranty given to any other buyer of goods of the type described in this Purchase Order to replace or repair would extend for a period longer than the foregoing,
            then Seller's warranty to Buyer hereunder shall be for such longer period.
        </p>
    </div>

    <div class="row">
        <p>
            <b>III. INDEMNIFICATION.</b>
            Seller agrees to indemnify, hold harmless,
            and protect Buyer from and against all claims and suits or actions in law or in equity for damages resulting from Seller's performance or nonperformance of this Purchase
            Order.
        </p>
    </div>

    <div class="row">
        <p>
            <b>IV. DELIVERY.</b>
            TIME IS CRITICAL UNDER THIS PURCHASE ORDER, and if
            delivery of goods or the performance of services relating hereto is not completed by the time specified herein, Buyer may cancel this Purchase Order and, in addition, may pursue
            all other remedies available to it at law or in equity.
        </p>
    </div>

    <div class="row">
        <p>
            <b>V. SHIPMENT.</b>
            All goods shall be shipped F.O.B. place of destination, feight prepaid.
            Seller shall futher be liable for any freight charges or duties greater than those specified herein and if Buyer, at its option, accepts any delivery for less than the full amount or
            quantity of goods specified by this Purchase Order. Seller shall be liable for any proportionately higher freight charges resulting from the diminished quantity or the weight of the
            partial shipments. Shipments sent C.O.D. without Buyer's prior written consent will not be accepted.
        </p>
    </div>

    <div class="row">
        <p>
            <b>VI. RECEIPT: INSPECTION.</b>
            Inspection and acceptance of all goods as to quantity,
            weight, quality, and conformity will be performed at Buyer's business premises after its receipt, regardless of method of shipment. Buyer shall have a reasonable time after receipt of the
            goods in which to inspect the goods, but in no event shall Buyer have less than 10 business days in which to make such inspection
        </p>
    </div>

    <div class="row">
        <p>
            <b>VII. PAYMENT AND INVOICES.</b>
            Buyer shall pay the amount of the purchase price for the
            goods subject to this Purchase Order on or before the 30th day of the month following proper receipt and invoicing of such goods and acceptance of the goods by the Owner, Architect/Engineer, and
            Contractor. ALL TERMS AND CONDITIONS OF THIS PURCHASE ORDER MUST BE FULLY PERFORMED AND COMPLIED WITH BEFORE PAYMENT BY BUYER SHALL BECOME DUE. No payment to Seller shall be construed as
            irrevocable acceptance by Buyer of defective work or goods.
        </p>
    </div>

    <div class="row">
        <p>
            <b>VIII. PATENTS, TRADEMARKS, ETC..</b>
            Seller agrees to indemnify, hold harmless and protect
            Buyer from and against all claims and suits at law or in equity for actual or alleged infringement of any patents, trademarks, copyrights, or corresponding rights pertaining to the goods or
            services subject to this Purchase Order.
        </p>
    </div>

    <div class="row">
        <p>
            <b>IX. CANCELLATION.</b>
            In addition to all other rights of cancellation which Buyer may
            have pursuant to other provisions of the Purchase Order or by law, BUYER MAY CANCEL THIS PURCHASE ORDER, WITHOUT LIABILITY TO SELLER AND WITHOUT PRIOR NOTICE, UPON SELLER'S FAILURE TO FULLY
            AND ADEQUATELY PERFORM ANY OF THE TERMS AND CONDITIONS OF THIS PURCHASE ORDER.
        </p>
    </div>

    <div class="row">
        <p>
            <b>X. FORCE MAJEURE.</b>
            Seller shall be entitled to cancel this Purchase Order if it in good
            faith determines that its ability to perform hereunder is materially and adversely affected by a Major Event, as hereinafter defined. Buyer shall also be entitled to cancel this Purchase Order if it in
            good faith determines that its business needs for the goods and/or services subject hereto or the payment therefor is materially and adversely affected by a Major Event, as hereinafter defined.
            "Major Event" shall mean any cause, circumstances or event which is beyond the control of that party seeking to cancel this Purchase Order pursuant to these provisions, including, without limitation,
            war, strike, lock-out, trade dispute, accident to plant or equipment, fire, flood, explosion, sabotage or lack or failure of transportation facilities. As to Seller, "Major Event" shall not include
            cause, circumstances or events which merely increase Seller's costs in performing under this Purchase Order and do not truly affect its ability to furnish the goods and/or services subject hereto.
        </p>
    </div>

    <div class="row">
        <p>
            <b>XI. TERMINATION.</b>
            Buyer may terminate all or any part of this Purchase Order at any time by giving
            written notice to Seller. If this Purchase Order is terminated and Seller is not then in default hereunder, Buyer shall be liable for damages suffered by Seller because of such termination but such damages
            shall in no event exceed the price specified herein for services performed, actual cost incurred which are specifically allocable to performance hereunder (excluding any allocation of overhead) and/or
            goods furnished up to the date of Buyer's termination. Seller shall not be entitled to recover any anticipated profit on services not yet performed and/or goods not yet furnished.
        </p>
    </div>

    <div class="row">
        <p>
            <b>XII. ASSIGNMENT AND SUB-CONRACTING PROHIBITED.</b>
            THE RIGHTS OF SELLER UNDER THIS PURCHASE ORDER, WHETHER
RELATING TO PERFORMANCE, PAYMENT FOR PERFORMANCE, OR OTHERWISE, SHALL NOT BE ASSIGNED, SUB-LET OR TRANSFERRED WITHOUT BUYER'S PRIOR WRITTEN CONSENT.
        </p>
    </div>

    <div class="row">
        <p>
            <b>XIII. BINDING EFFECT.</b>
            This Purchase Order shall be binding upon Seller's successors, legal representatives,
            and permitted assigns and it shall inure to the benefit of Buyer and its successors, legal representatives, assigns, customers, and users of the goods and/or services subject to this Purchase Order.
        </p>
    </div>

    <div class="row">
        <p>
            <b>XIV. CONSTRUCTION.</b>
            Wherever from the context it appears appropriate, each term stated in either the singular
            or the plural shall include the singular and the plural and a pronoun stated in any gender shall include all genders. This Purchase Order shall be governed by and construed in accordance with the laws of the
            Commonwealth of Kentucky and the laws of the United States of America. Any failure by Buyer at any time to demand the Seller's performance against the Purchase Order be strictly in compliance with its terms and
            conditions shall not be deemed a waiver of any subsequent breach of this Purchase Order, whether or not such subsequent breach involves the same or a different term or condition for which performance in strict
            compliance herewith was not previously required. If any term or condition of this Purchase Order or the application of such provision to any person or circumstance shall be held invalid, the remaining provisions of the
            Purchase Order, and the application of such provisions to persons or circumstances other than those to which it is held invalid, shall not be affected thereby.
        </p>
    </div>

    <div class="row">
        <p>
            <b>XV. DISCRIMINATION PROHIBITED.</b>
            Seller expressly agrees not to disciminate in personnel actions on account of
            race, color, religion, sex, or national origin and agrees to comply with all applicable law, regulations, orders, and rules, including Executive Order 11246.
        </p>
    </div>

    <br />
    <hr />

    <div class="row">
        <div class="signatureSection col-xs-6">
            <h5><b>OWNER</b></h5><br />
            <p>
                Date: _______________________[DATE]<br /><br />
                By: _______________________[SIGNATURE]<br /><br />
                Title: _______________________[TITLE]<br /><br />
            </p>
        </div>
        <div class="signatureSection col-xs-6">
            <h5><b>CONTRACTOR</b></h5><br />
            <p>
                Date: _______________________[DATE]<br /><br />
                By: _______________________[SIGNATURE]<br /><br />
                Title: _______________________[TITLE]<br /><br />
            </p>
        </div>

    </div>


</div>

