
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section sideNavReport
{
    sideNavItemSelected
}


<a href="/Dashboard/Index/@ViewBag.CurrentProjectNumber" class="btn btn-default">Back</a>
<br />
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Reports</h4>
    </div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="reportDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Report...
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportDropDown">
                <li><a href="/Report/BudgetDetail" target="_blank">Budget Detail</a></li>
                <li><a href="#">Contract Detail</a></li>
                <li><a href="#">Invoice Detail</a></li>
                <li><a href="#">Paid Detail</a></li>
                @*<li role="separator" class="divider"></li>*@

            </ul>
        </div>
    </div>
</div>
